footer {
    position:relative;
    margin-top: 20%;
    left: 0;
    bottom:0;
    height: 5%vh;
    width: 100%;
    background-color: #000;
    color: white;
    text-align: center;
    overflow-x:hidden;
}

.categorias ul{
    display:grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
}

.categorias h5{
    margin-top:10px;
    margin-bottom: 10px;
}

.categorias li{
    list-style-type: none;
    padding:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    transition: all 0.4s ease;
}

.categorias li:hover{
    background: #777;
    color:#000;
}

.titulo{
    font-size: 50px;
    font-weight:400;
    justify-content: center;
    margin-top: 30px;
}
